In [1]:
import numpy as np
import pandas as pd
import nltk

C:\Users\AmitKumar\.conda\envs\nlp_course\lib\site-packages\sklearn\utils\validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [9]:
df = pd.read_csv("D:/NLP/UPDATED_NLP_COURSE/TextFiles/moviereviews.tsv",sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [10]:
df.dropna(inplace=True)

In [11]:
blanks = []

for i,lb,rv in df.itertuples():
    if type(rv) ==str:
        if rv.isspace():
            blanks.append(i)
            
            
print(blanks)
df.drop(blanks,inplace=True)

[57, 71, 147, 151, 283, 307, 313, 323, 343, 351, 427, 501, 633, 675, 815, 851, 977, 1079, 1299, 1455, 1493, 1525, 1531, 1763, 1851, 1905, 1993]

In [12]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [15]:
df['label'].value_counts()

pos    969
neg    969
Name: label, dtype: int64

In [16]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [17]:
sid = SentimentIntensityAnalyzer()

In [20]:
df['scores']=df['review'].apply(lambda review:sid.polarity_scores(review))

In [21]:
df.head()

,label,review,scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com..."

In [22]:
df['compound']=df['scores'].apply(lambda score:score['compound'])

In [23]:
df.head()

,label,review,scores,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264

In [24]:
df['com_score'] = df['compound'].apply(lambda comp: 'pos' if comp>=0 else 'neg')

In [25]:
df.head()

,label,review,scores,compound,com_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg

In [26]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [27]:
acc_score = accuracy_score(df['com_score'],df['label'])
cf_matrix = confusion_matrix(df['com_score'],df['label'])
clf_report = classification_report(df['com_score'],df['label'])

In [28]:
print(acc_score)

0.6367389060887513

In [29]:
print(clf_report)

              precision    recall  f1-score   support

         neg       0.44      0.72      0.55       589
         pos       0.83      0.60      0.70      1349

   micro avg       0.64      0.64      0.64      1938
   macro avg       0.64      0.66      0.62      1938
weighted avg       0.71      0.64      0.65      1938

In [30]:
print(cf_matrix)

[[427 162]
 [542 807]]