In [10]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv("D:/NLP/UPDATED_NLP_COURSE/TextFiles/moviereviews.tsv",sep ='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [12]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [13]:
df.shape

(2000, 2)

In [14]:
df = df.dropna(axis=0) ## drops the row if axis =0 and column if axis=1

In [15]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [16]:
df.shape

(1965, 2)

In [18]:
## this will help us remove the reviews with white spaces
blanks = []
#(index,label,review text)
for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [22]:
blanks ## index of empty white spaces

[57, 71, 147, 151, 283, 307, 313, 323, 343, 351, 427, 501, 633, 675, 815, 851, 977, 1079, 1299, 1455, 1493, 1525, 1531, 1763, 1851, 1905, 1993]

In [23]:
df.drop(blanks,inplace=True)

In [17]:
from sklearn.model_selection import train_test_split

In [29]:
X = df['review']
Y = df['label']

In [30]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3, random_state = 42)

In [31]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [33]:
text_clf = Pipeline([('tfidf',TfidfVectorizer()),('clf',LinearSVC())])

In [35]:
text_clf.fit(X_train,y_train)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [37]:
prediction = text_clf.predict(X_test)

In [41]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [38]:
print(confusion_matrix(y_test,prediction))

[[235  47]
 [ 41 259]]

In [39]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

         neg       0.85      0.83      0.84       282
         pos       0.85      0.86      0.85       300

   micro avg       0.85      0.85      0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582

In [42]:
print(accuracy_score(y_test,prediction))

0.8487972508591065

In [43]:
text_clf.predict(['Its was boaring movie'])

array(['neg'], dtype=object)